
@media only screen and (max-width: 767px) {
	.price-card{
		padding-bottom: 20px;
	}
	.mb{
		margin-bottom: 6px;
	}
	.mr{
     margin-right:0; 
	}
	.progressbar{
		padding-left: 0;
	}
	.mt-text{
		margin-top: 25px;
	}
	.team-box{
		padding-left: 0;
		padding-right: 0;
	}
	.card-content{
		padding-left: 0;
		padding-right: 0;
	}
	.about{
		padding-left: 0;
	}
	.text{
		padding-right: 0;
	}
	.text-expert p{
		padding-left: 0;
	}
	.expertise-border{
		margin-left: 0;
	}
	.pll{
		padding-left: 0;
	}
	.prg{
      padding-right: 0;
	}
	.port-border{
		margin-left:0;
	}
	.border-team{
		margin-left: 0;
	}
	.price-border{
		margin-left: 0;
	}
	.price-box{
		padding-left: 0;
		padding-right: 0;
	}
	.get-border{
		margin-left: 0;
	}
	.get p{
		padding-left: 0;
	}
	.form-group{
		padding-left: 0;
	}
	.navbar-brand img{
		width:100%;
		height:35px;
	}
	.text-magic{
		padding-left: 0;
		padding-right: 0;
	}
	.let-text{
		padding-left: 15px;
	}
	.image img{
		width:15%;
	}
	.tf{
		padding-left: 10px;
	}
}